.books {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.book {
  margin: 1.5em;
  display: block;
  width: 200px;
  height: 100px;
  // border: solid black 1px;
  background: silver;
  border-radius: 10px;
  text-decoration: none;

  text-align: center;
}

.book > .label
{
  margin: 0;
  font-size: larger;
  line-height: 100px;
}

