$FG: #444;
$BG: whitesmoke;

@mixin HEADER_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin TITLE_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin MAIN_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin CONTENT_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin FOOTER_COLOR {
  color: $BG;
  background-color: $FG;
}

table,
th,
td {
  border-collapse: collapse;
  border: 0px;
  line-height: 1.5;
  padding: 0.5em;
}

@mixin TAG_COLOR {
  color: $BG;
  background-color: darkslategrey;
}

@mixin DATE_COLOR {
  color: $BG;
  background-color: transparent;
  border: 1px dashed;
  border-radius: 5px;
}

@mixin UPDATE_COLOR {
  color: darkorange;
  background-color: transparent;
  border: 1px dashed;
  border-radius: 5px;
}

@mixin TABLE_COLOR_HEADER {
  color: $FG;
  background-color: silver;
}
@mixin TABLE_COLOR_EVEN {
  color: $FG;
  background-color: lightgray;
}
@mixin TABLE_COLOR_ODD {
  color: $FG;
  background-color: lavender;
}

//
// article title
//
@mixin HEADLINE_COLOR {
  color: $BG;
  background-color: $FG;
}

@mixin GITHUB_COLOR {
  color: $BG;
  background-color: black;
}
@mixin STAR_COLOR {
  //   color: black;
  //   background-color: $BG;
  font-size: small;
}

@mixin GIST_COLOR {
  color: $BG;
  background-color: darkblue;
}

@mixin QIITA_COLOR {
  color: $BG;
  background-color: seagreen;
}

@mixin BOOK_COLOR {
  color: $FG;
  background-color: tan;
}

@mixin QUOTE_COLOR {
  color: $FG;
  background-color: lavender;
}
