$FG: #444;
$BG: whitesmoke;

@mixin HEADER_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin TITLE_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin MAIN_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin CONTENT_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin FOOTER_COLOR {
  color: $BG;
  background-color: $FG;
}

@mixin TAG_COLOR {
  color: $BG;
  background-color: darkslategrey;
}

//
// article title
//
@mixin HEADLINE_COLOR {
  color: $BG;
  background-color: $FG;
}

@mixin GITHUB_COLOR {
  color: $BG;
  background-color: black;
}

@mixin GIST_COLOR {
  color: $BG;
  background-color: royalblue;
}

@mixin QIITA_COLOR {
  color: $FG;
  background-color: lightgreen;
}

@mixin BOOK_COLOR {
  color: $FG;
  background-color: tan;
}

@mixin QUOTE_COLOR {
  color: black;
  background-color: #eed;
}
