$FG: #444;
$BG: whitesmoke;

@mixin HEADER_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin TITLE_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin MAIN_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin CONTENT_COLOR {
  color: $FG;
  background-color: $BG;
}

@mixin FOOTER_COLOR {
  color: $BG;
  background-color: $FG;
}

table,
th,
td {
  border-collapse: collapse;
  border: 0px;
  line-height: 1.5;
  padding: 0.5em;
}

@mixin TAG_COLOR {
  color: $BG;
  background-color: darkslategrey;
}

@mixin TABLE_COLOR_HEADER {
  color: $FG;
  background-color: silver;
}
@mixin TABLE_COLOR_EVEN {
  color: $FG;
  background-color: lightgray;
}
@mixin TABLE_COLOR_ODD {
  color: $FG;
  background-color: lavender;
}

//
// article title
//
@mixin HEADLINE_COLOR {
  color: $BG;
  background-color: $FG;
}

@mixin GITHUB_COLOR {
  color: $BG;
  background-color: black;
}

@mixin GIST_COLOR {
  color: $BG;
  background-color: royalblue;
}

@mixin QIITA_COLOR {
  color: $FG;
  background-color: lightgreen;
}

@mixin BOOK_COLOR {
  color: $FG;
  background-color: tan;
}

@mixin QUOTE_COLOR {
  color: $FG;
  background-color: lavender;
}
