@import "color.scss";

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  // centring
  @include CONTENT_COLOR;
  padding: 1em;
  width: 1000px;
  // height: 100%;
  // overflow-y: scroll;
}

.toc {
  // grid-area: toc;
  // overflow-x: hidden;
  // top: 100px;
  // right: 0px;
  width: 300px;
  // bottom: 40px;
}
.toc_fix {
  position: fixed;
}
@media screen and (max-width: 1100px) {
  .toc {
    display: none;
  }
}
.toc ul {
  padding: 0 20px;
  list-style-type: none;
}
.toc a {
  color: #333;
}
.toc a:hover {
  color: #757c84;
}
.toc h2 {
  margin: 0;
  padding: 10px 0;
}

body {
  font-family: serif;
}
body:lang(ja) {
  line-height: 1.8em;
}
body:lang(en) {
  line-height: 1.5em;
}

pre {
  font-family: monospace;
  padding: 1em;
  border-radius: 5px;
}

ul {
  margin-left: 0;
  padding-left: 1em;
}

.content > h1 {
  font-size: x-large;
  border-left: solid 0.5em;
  border-bottom: solid 3px;
  padding-left: 0.5em;
  margin-top: 2em;
  line-height: 1.5em;
}

.content > h2 {
  font-size: x-large;
  border-left: solid 3px;
  border-bottom: solid 3px;
  padding-left: 10px;
  margin-top: 2em;
  line-height: 1.5em;
}

.content > h3 {
  font-size: larger;
  border-left: solid 8px;
  padding-left: 0.5em;
  margin-top: 2em;
  line-height: 1.5em;
}

.content > h4 {
  font-size: larger;
  border-bottom: dashed 1px;
  margin-top: 2em;
  line-height: 1.5em;
}

@mixin short_quote {
  padding: 0.4em;
  border-radius: 4px;
  @include QUOTE_COLOR;
}

.content pre {
  overflow-x: auto;
}

.content > p > code {
  @include short_quote;
}

.content li > code {
  @include short_quote;
}

.content td > code {
  @include short_quote;
}

.content blockquote:before {
  @include QUOTE_COLOR;
  content: "“";
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 15px;
}

.content blockquote {
  @include QUOTE_COLOR;
  font-style: italic;
  border-radius: 5px;
  position: relative;
  margin: 0;
  padding: 10px 15px 10px 60px;
  box-sizing: border-box;
}

.content table {
  width: 100%;
  border-spacing: 0;
  margin-top: 2em;
}

.content table th {
  border-bottom: solid 2px #fb5144;
  padding: 0.5em;
}

.content table td {
  border-bottom: solid 2px #ddd;
  padding: 0.5em;
}
