.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  // centring
  background: white;
  padding: 1em;
  width: 800px;
  // height: 100%;
  // overflow-y: scroll;
}

.toc {
  // grid-area: toc;
  // overflow-x: hidden;
  // position: fixed;
  // top: 100px;
  // right: 0px;
  width: 300px;
  // bottom: 40px;
}
@media screen and (max-width: 1100px)  {
.toc {
  display: none;
}
}
.toc ul {
    padding:0 20px;
    list-style-type: none;
}
.toc a {
    color:#333 ;
}
.toc a:hover {
    color: #757C84;
}
.toc h2 {
    margin:0;
    padding:10px 0;
}

body {
  font-family: serif;
}
body:lang(ja) {
  line-height: 1.8em;
}
body:lang(en) {
  line-height: 1.5em;
}

pre {
  font-family: monospace;
  padding: 1em;
  border-radius: 5px;
}

ul {
  margin-left: 0;
  padding-left: 1em;
}

.content > h1 {
  font-size: x-large;
  border-left: solid 0.5em;
  border-bottom: solid 3px;
  padding-left: 0.5em;
  line-height: 1.5em;
}

.content > h2 {
  font-size: x-large;
  border-left: solid 3px;
  border-bottom: solid 3px;
  padding-left: 10px;
  line-height: 1.5em;
}

.content > h3 {
  font-size: larger;
  border-left: solid 8px;
  padding-left: 0.5em;
  line-height: 1.5em;
}

.content > h4 {
  font-size: larger;
  border-bottom: dashed 1px;
  line-height: 1.5em;
}

.content > p > code {
  padding: 0.4em;
  border-radius: 4px;
  background: #EED;
}

