.content {
  // centring
  background: white;
  padding: 1em;
  margin: 0 auto;
  width: 800px;
  // height: 100%;
  // overflow-y: scroll;
}

body {
  font-family: serif;
}
body:lang(ja) {
  line-height: 1.8em;
}
body:lang(en) {
  line-height: 1.5em;
}

pre {
  font-family: monospace;
  padding: 1em;
  border-radius: 5px;
}

.content > .title {
}

.content > .date {
}

ul {
  margin-left: 0;
  padding-left: 1em;
}
