@import "color.scss";

// 日付、タグ、タイトルを横に並べる
.headline {
  display: grid;
  grid-template:
    "hl_title hl_title" 40px
    "hl_date hl_tags" 30px /
    100px auto;

  // justify-content: stretch;
  // align-items: center;

  // height: 70px;
  margin-top: 0.5em;
  padding-left: 0.5em;
  background-color: map-get($HEADLINE_COLOR, bg);
  color: map-get($HEADLINE_COLOR, fg);
  border-radius: 12px;
}

.headline > a {
  text-decoration: none;
  color: map-get($HEADLINE_COLOR, fg);
}

.headline_title {
  grid-area: hl_title;
  font-size: larger;
  line-height: 40px;
}

.headline_date {
  grid-area: hl_date;
  line-height: 30px;
  text-align: center;
}

// tags
ul.tags {
  grid-area: hl_tags;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.tags > li {
  display: inline-block;
  background-color: map-get($TAG_COLOR, bg);
  line-height: 26x;
  padding: 2px 0.5em 0 0.5em;
  border-radius: 5px;
  margin: 2px 5px 2px 0px;
}

ul.tags > li > a {
  text-decoration: none;
  color: map-get($TAG_COLOR, fg);
}
