@import "color.scss";

// .grid-item {
//   background: #eef;
//   border-radius: 5px;
//   border: solid 1px black;
// }

.grid > .headline {
  width: 300px;
}

// 日付、タグ、タイトルを横に並べる
.headline {
  // justify-content: stretch;
  // align-items: center;

  margin: 0.5em;
  padding: 1em;
  // height: 70px;
  border-radius: 12px;

  @include HEADLINE_COLOR;
}
.headline > a {
  @include HEADLINE_COLOR;
  text-decoration: none;
}

.headline .image_box {
  width: 100%;
  height: 200px;
  text-align: center;
}

.headline .image_box img {
  height: 100%;
  margin: 0 auto;
}

.headline_date {
  @include DATE_COLOR;
  font-size: smaller;
}
.headline_date .year {
  margin: 0;
  padding: 1px;
  line-height: 1em;
}
.headline_date .md {
  margin: 0;
  padding: 1px;
  line-height: 1em;
}
.updated {
    @include UPDATE_COLOR;
}

.github {
  @include GITHUB_COLOR;
}
.github > a {
  @include GITHUB_COLOR;
}

.gist {
  @include GIST_COLOR;
}
.gist > a {
  @include GIST_COLOR;
}

.qiita {
  @include QIITA_COLOR;
}
.qiita > a {
  @include QIITA_COLOR;
}

.book {
  @include BOOK_COLOR;
}
.book > a {
  @include BOOK_COLOR;
}

.book > .label {
  margin: 0;
  font-size: larger;
  line-height: 100px;
}

.headline > a {
  text-decoration: none;
}

.headline_title {
  grid-area: hl_title;
  font-size: larger;
  line-height: 40px;
}

.headline_date {
  grid-area: hl_date;
  line-height: 30px;
  text-align: center;
}

// tags
ul.tags {
  grid-area: hl_tags;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.tags > li {
  padding: 2px 0.5em 0 0.5em;
  margin: 2px 5px 2px 0px;
  line-height: 26x;
}

ul.tags > li.tag {
  display: inline-block;
  @include TAG_COLOR;
  border-radius: 5px;
}

ul.tags > li.tag > a {
  text-decoration: none;
  @include TAG_COLOR;
}
