@import "color.scss";

// .grid-item {
//   background: #eef;
//   border-radius: 5px;
//   border: solid 1px black;
// }

.grid > .headline { 
  width: 300px; 
}

// 日付、タグ、タイトルを横に並べる
.headline {

  // justify-content: stretch;
  // align-items: center;

  margin: 0.5em;
  padding: 1em;
  // height: 70px;
  background-color: map-get($HEADLINE_COLOR, bg);
  color: map-get($HEADLINE_COLOR, fg);
  border-radius: 12px;
}

.github {
  // border: solid black 1px;
  color: white;
  background: black;
}

.gist {
  // border: solid black 1px;
  background: darkblue;
}

.qiita {
  background: #55c500;
}

.headline > a {
  text-decoration: none;
  color: map-get($HEADLINE_COLOR, fg);
}

.headline_title {
  grid-area: hl_title;
  font-size: larger;
  line-height: 40px;
}

.headline_date {
  grid-area: hl_date;
  line-height: 30px;
  text-align: center;
}

// tags
ul.tags {
  grid-area: hl_tags;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.tags > li {
  padding: 2px 0.5em 0 0.5em;
  margin: 2px 5px 2px 0px;
  line-height: 26x;
}

ul.tags > li.tag {
  display: inline-block;
  background-color: map-get($TAG_COLOR, bg);
  border-radius: 5px;
}

ul.tags > li.tag > a {
  text-decoration: none;
  color: map-get($TAG_COLOR, fg);
}
