@import "color.scss";

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template:
    "title nav" 100px
    "main main" auto
    "footer footer" 40px /
    300px auto;
}

.site_title {
  grid-area: title;
  margin: 0;
  // padding: 1em;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: $TITLE_COLOR;
  line-height: 100px;
  font-size: xx-large;
}

.nav {
  grid-area: nav;
  background: $HEADER_COLOR;
  border-bottom: solid 4px black;

  // flex box
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  // align-items: top;
  // align-content: space-between;
}

.main {
  grid-area: main;
  background: $MAIN_COLOR;
  // overflow-y: scroll;
}

.footer {
  grid-area: footer;
  background: $FOOTER_COLOR;
  //
  text-align: center;
  line-height: 40px;
}
