@charset "UTF-8";

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 0;
  background: #ccc;
}

main {
  background: white;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

p {
  overflow-wrap: anywhere;
}
