@import "color.scss";

html,
body {
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

body {
    font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

body {
    font-family: serif;
}
body:lang(ja) {
    line-height: 1.8em;
}
body:lang(en) {
    line-height: 1.5em;
}

$default-text-padding: 2em;

$default-text-area-max-width: 38em + $default-text-padding * 2;

.text-container {
    box-sizing: border-box;
    width: $default-text-area-max-width;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.1em;
}

body {
    font-feature-settings: palt;
}

body {
    font-kerning: normal;
}

.container {
    height: 100%;
    display: grid;
    grid-template:
        "title nav" 100px
        "main main" auto /
        300px auto;
}

.site_title {
    grid-area: title;
    margin: 0;
    // padding: 1em;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: darkslategrey;
}

.nav {
    grid-area: nav;
    background: olive;
    border-bottom: solid 4px black;

    // flex box
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    // align-items: top;
    // align-content: space-between;
}

.nav > .item {
    // flex box
    align-self: center;
    //
    margin-left: 0.5em;
    display: inline-block;
    padding: 0.5em;
    //
    font-size: 1.2em;
    background-color: violet;
    // height: 30px;
    text-decoration: none;
}

.left {
    grid-area: left;
    background: silver;
}

.right {
    grid-area: right;
    background: silver;
}

.main {
    grid-area: main;
    background: #eee;
    // overflow-y: scroll;
}

.content {
    // centring
    background: white;
    padding: 1em;
    margin: 0 auto;
    width: 800px;
    // height: 100%;
    // overflow-y: scroll;
}

.footer {
    grid-area: footer;
    background: antiquewhite;
    //
    text-align: center;
}

// tags
ul.tags {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}
ul.tags > li {
    display: inline-block;
    background-color: darkturquoise;
    margin-left: 1em;
}
ul.tags > li > a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

// contents
ul.contents {
    list-style-type: none;
}
ul.contents > li {
    background-color: honeydew;
    margin-top: 1em;
}

.headline {
    // flex box
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: center;
}

.headline > a {
    text-decoration: none;
}
.headline > a > h1 {
    font-size: 1em;
    padding: 0.5em 0 0.5em 1em;
    margin: 0;
}

//
.powered {
    color: violet;
    text-align: center;
}

p > code {
    font-family: monospace;
    background-color: #EEE;
    padding: 0.5em;
    border-radius: 5px;
}

pre {
    font-family: monospace;
    padding: 1em;
    border-radius: 5px;
}
