---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostTitle from "../../components/PostTitle.astro";
import PostToc from "../../components/PostToc.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content, headings } = await post.render();

const toc = headings.filter(
  (heading) =>
    heading.depth <= 3 &&
    !(heading.slug === "footnote-label" && heading.text === "Footnotes"),
);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <PostTitle {...post} />

  <hr />

  <div class="flex">
    <article class="prose">
      <Content />
    </article>

    <div>
      <div class="fixed">
        {headings.length > 0 && <PostToc {headings}> </PostToc>}
      </div>
    </div>
  </div>
</BaseLayout>
