---
import { type CollectionEntry, getCollection } from "astro:content";
import { type Page, type GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostTitleCard from "../../components/PostTitleCard.astro";
import PostPager from "../../components/PostPager.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts");
  posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  const data = posts.map((post: CollectionEntry<"posts">) => ({
    params: { slug: post.slug },
    props: post,
  }));
  return paginate(data, { pageSize: 8 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <PostPager {page} />
  <div class="flex flex-col">
    {page.data.map((data) => <PostTitleCard {...data.props} />)}
  </div>
  <PostPager {page} />
</BaseLayout>

