---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostTitleCard from "../../components/PostTitleCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <div class="flex flex-col">
      {posts.map((post) => <PostTitleCard {...post} />)}
    </div>
  </section>
</BaseLayout>
