/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a[data-external]::before {
  content: attr(data-external);
}

/* https://github.com/samrobbins85/remark-admonitions-styles/blob/master/TailwindCSS/classic.css */
.admonition {
  @apply mb-2 p-2;
}

.admonition h5 {
  @apply mt-0 uppercase;
}

.admonition-icon {
  @apply inline-block align-middle mr-1;
}

.admonition-icon svg {
  @apply inline-block h-5 w-5 stroke-0 mb-1;
}

.admonition-content > :last-child {
  @apply mb-0;
}

/** native types */
.admonition-info {
  @apply border border-l-8 border-info;
}

.admonition-info h5 {
  @apply text-info;
}

.admonition .admonition-icon svg {
  @apply stroke-current fill-current;
}
