@charset "UTF-8";

/* reset */
html,
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul {
  list-style: none;
}

/* reset */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ccc;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  /* grid-template-rows: auto auto auto; */
}

header.root {
  background: #999;
}

footer.root {
  header: 1em;
  background: #999;
}

main.root {
  flex-grow: 1;
  align-self: stretch;
  max-width: 800px;

  /* box-sizing: border-box; */
  overflow-y: scroll;
  background: white;
  overflow-wrap: anywhere;
  height: fit-content;
}

/* title */
main header {
  display: flex;
  gap: 5px;
}

.date {
  display: inline-block;
  color: orange;
  border: solid 1px orange;
  border-radius: 0.2em;
}

.title a {
  align-self: end;
  font-size: x-large;
}

a.tag {
  align-self: end;
  font-size: small;
  text-decoration: none;
  background: orange;
  color: white;
  margin-left: 0.1em;
  padding: 0 0.3em 0 0.3em;
  border-radius: 0.3em;
}

/* article */
article {
  padding: 1em;
}

section {
  margin-top: 1em;
}

h2 {
  margin-top: 1em;
}

p {
  line-height: 1.5em;
}

.inline {
  background: #bbb;
  color: black;
  padding: 0 0.3em 0 0.3em;
  border-radius: 0.3em;
}

code {
  display: block;
  background: #ccf;
  border: solid 1px;
  border-radius: 0.5em;
  padding: 1em;
}

.unknown {
  border: solid 1px red;
}
