:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  /* background: var(--base0); */
  display: flex;
  flex-direction: column;
}

.layout_header {
  /* background: var(--red); */
  border-bottom: solid 2px;

  nav ul {
    display: flex;
    flex-direction: row;
    padding: 0 1em 0 1em;
    gap: 0.5em;

    li {
      list-style: none;
    }
  }

  .right {
    margin-left: auto;
  }
}

.layout_footer {
  border-top: solid 2px;
  text-align: right;
}

.layout_container {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.items {
  display: grid;
  justify-content: center;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(161px, 161px));
  justify-content: center;
  gap: 1px;
}

.item {
  padding: 0.1rem;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  border-radius: 0.5em;
  overflow-wrap: anywhere;
  overflow-y: hidden;

  h2 {
    margin: 0;
    font-feature-settings: "palt";
    letter-spacing: -1px;
    line-height: 1.1em;

    a {
      text-decoration: none;
    }
  }

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: end;

    .date {
      font-size: 0.8em;
      width: fit-content;
      height: fit-content;

      color: white;
      background-color: olive;
      padding: 2px;
      /* border: solid 2px orange; */
      border-radius: 0.2em;

      .year {
        text-wrap: nowrap;
      }
      .day {
        text-wrap: nowrap;
      }
    }

    .button {
      font-size: 0.8em;
      background-color: gray;
      color: white;
      border-radius: 0.3em;
      margin: 0 1px;
      padding: 0 1px;
      letter-spacing: -1px;

      text-decoration: none;
    }
  }
}

article {
  .item {
    margin: 0;
    width: auto;
    height: auto;
  }

  ul li {
    p {
      display: inline-block;
      margin: 0;
    }
  }

  width: 100%;
  max-width: 750px;

  @media (min-width: 750px) {
    margin: auto;
    padding: 1rem;
  }

  section {
    padding: 1em;
    p {
      max-width: 40ic;
      font-family: serif;
      line-height: 1.6rem;
    }
  }

  div {
    pre {
      padding: 1em;
      overflow-x: scroll;
    }
  }

  table {
    border: solid 1px;
  }
  table tr:nth-child(odd) td {
    background-color: #f0f0f0;
  }
  table tr:nth-child(even) td {
    background-color: white;
  }
}

.before_after {
  display: flex;
  .item {
    flex: 1;
  }
}

.msg.note {
  background-color: silver;
  padding: 1em;
  border: solid 1px;
  border-radius: 0.5em;
}

span.inline {
  font-family: monospace;
  padding: 2px 4px;
  color: white;
  background-color: #999;
  border-radius: 0.2em;
  letter-spacing: -1px;
}

/* https://saruwakakun.com/html-css/reference/blockquote */
blockquote {
  position: relative;
  padding: 1em 1em 0 2em;
  box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  border-radius: 0.5em;
  color: #888;
}
blockquote:before {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 3px;
  content: "“";
  font-family: sans-serif;
  color: #cfcfcf;
  font-size: 4em;
  line-height: 1;
}
blockquote p {
  font-size: 0.9em;
  padding: 1em 0;
  /* margin: 10px 0; */
  /* line-height: 1.7; */
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}
