{{ define "title" }}
{{- .Title -}}(list)
{{ end }}
{{ define "main" }}
{{ "<!-- _default/list.html start -->" | safeHTML }}
<div class="content">
    {{ if .Content }}
    <h1 class="title">{{- .Title -}}</h1>
    {{- .Content -}}
    {{ end }}

    {{ $this := . }}
    {{ $site := .Site }}
    {{ $pages := .Pages }}
    {{ $tag := .Name }}
    {{ range index $site.Taxonomies.tags (replace (lower $tag) " " "-") }}
    {{ if and (not (eq . $this)) (not (in $pages .)) }}
    {{ $pages = $pages | append . }}
    {{ end }}
    {{ end }}

    {{ partial "contents.html" $pages }}

</div>
{{ partial "powered.html" }}
{{ "<!-- _default/list.html end -->" | safeHTML }}
{{ end }}