<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ end }}</title>
    <link ref="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body class="container">
    {{ "<!-- _default/baseof.html start -->" | safeHTML }}

    <a class="site_title" href="{{ relURL "/" }}">
        <h1>{{ .Site.Title }}</h1>
    </a>

    <div class="nav">
        <a class="item" href="https://github.com/ousttrue" aria-label="github">
            <i class="fab fa-github fa-lg"></i>
        </a>
        {{ range .Site.Sections }}
        {{ .Render "item_section" }}
        {{ end }}
        <a class="item" href="{{ relURL "/tags/" }}">Tags</a>
    </div>

    <div class="main">
        {{ block "main" . }}
        {{ end }}
    </div>
    {{ "<!-- _default/baseof.html end -->" | safeHTML }}
</body>

</html>