<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ end }}</title>
    <link ref="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body class="container">
    {{ "<!-- _default/baseof.html start -->" | safeHTML }}
    <header class="header">
        <a class="site_title" href="{{ relURL "/" }}">
            <h1>{{ .Site.Title }}</h1>
        </a>
        <ul class="links">
            {{ range .Site.Sections }}
            {{ .Render "item_section" }}
            {{ end }}
            <li><a href="{{ relURL "/tags/" }}">Tags</a></li>
        </ul>
    </header>

    <div class="main">
        {{ block "main" . }}
        {{ end }}
    </div>
    {{ "<!-- _default/baseof.html end -->" | safeHTML }}
</body>

</html>