{{ define "title" }}
{{- .Title -}}
{{ end }}
{{ define "main" }}
{{ "<!-- _default/list.html start -->" | safeHTML }}
<div class="content">
    {{ if .Content }}
    <h1 class="title">{{- .Title -}}</h1>
    {{- .Content -}}
    {{ end }}

    <ul>
        {{ range .Pages -}}
        {{ .Render "li" }}
        {{ end -}}
    </ul>

    <h2>tag</h2>
    {{ if and (.Params.tags) }}
    {{ $site_obj := .Site }}
    {{ range .Params.tags }}
    {{ $t := . }}

    {{ $tposts := index $site_obj.Taxonomies.tags (replace (lower $t) " " "-") }}
    {{ if gt (len $tposts) 1 }}
    <div class="same-category-tags-posts-area">
        <h2>{{ $t }}</h2>
        <ul>
            {{ range $tposts }}
            {{ .Render "li" }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ "<!-- _default/list.html end -->" | safeHTML }}
{{ end }}