{{ define "title" }}
{{- .Title -}}(list)
{{ end }}
{{ define "main" }}
{{ "<!-- _default/list.html start -->" | safeHTML }}
<div class="content">
    {{ if .Content }}
    <h1 class="title">{{- .Title -}}</h1>
    {{- .Content -}}
    {{ end }}

    {{ partial "contents.html" .Pages }}

    {{ if and (.Params.tags) }}
    {{ $site := .Site }}
    {{ range .Params.tags }}
    {{ $t := . }}
    {{ $tposts := index $site.Taxonomies.tags (replace (lower $t) " " "-") }}
    {{ partial "contents.html" $tposts}}
    {{ end }}
    {{ end }}   
</div>
{{ partial "powered.html" }}
{{ "<!-- _default/list.html end -->" | safeHTML }}
{{ end }}