{{ define "title" }}
{{- .Title -}}
{{ end }}
{{ define "main" }}
{{ $site := .Site }}
{{ "<!-- _default/single.html start -->" | safeHTML }}
<div class="content">
    <h1 class="title">{{- .Title -}}</h1>
    {{- .Date -}}
    {{ range .Params.tags -}}
    {{ $tag := .}}
    {{ if in $site.Sections $tag }}
    <li>section <a href="{{ print "/tags/" . | relURL }}/">{{ . }}</a></li>
    {{ else }}
    <li>tag <a href="{{ print "/tags/" . | relURL }}/">{{ . }}</a></li>
    {{ end }}
    {{ end -}}
    {{ .Content }}
</div>
{{ "<!-- _default/single.html end -->" | safeHTML }}
{{ end }}