---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostTags from "../../components/PostTags.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const flat = posts
  .map((post) => post.data.tags)
  .filter((tags) => tags)
  .flat();
const tags = Array.from(new Set(flat)).sort();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <PostTags {tags} />
  </section>
</BaseLayout>
