.tags {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1em;
}

.tags > li {
  display: inline-block;
}
.tags > li a {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #868e96;
}

.tags > li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #6c757d;
}
