---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  date={new Date("11 1 2023")}
>
  <h2><a href="https://virtualcast.jp/">バーチャルキャスト</a></h2>

  <h2><a href="https://github.com/vrm-c/">VRM</a></h2>
  <ul>
    <li><a href="https://github.com/vrm-c/vrm.dev">VRM ドキュメント</a></li>
    <li><a href="https://github.com/vrm-c/vrm-specification">VRM 仕様</a></li>
    <li><a href="https://github.com/vrm-c/UniVRM">UniVRM</a></li>
  </ul>

  <h2><a href="https://github.com/ousttrue/">github</a></h2>
  <ul>
    <li><a href="/categories/repository/">repositories</a></li>
  </ul>

  <h2><a href="https://qiita.com/ousttrue">qiita</a></h2>
  <ul>
    <li><a href="/categories/qiita/">articles</a></li>
  </ul>
</Layout>
