{# -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'post_title.tmpl' as post_title with context %}

{% block content %}
<article class="listpage">
    <header>
        <h1>{{ title|e }}</h1>
    </header>
    {% if posts %}
    <ul class="postlist">
        {% for post in posts %}
        {{ post_title.headline(post) }}
        {% endfor %}
    </ul>
    {% else %}
    <p>{{ messages("No posts found.") }}</p>
    {% endif %}
</article>
{% endblock %}