{% macro html_navigation_links_entries(navigation_links_source) %}
{% for url, text in navigation_links_source[lang] %}
{% if isinstance(url, tuple) %}
<li> {{ text }}
    <ul>
        {% for suburl, text in url %}
        {% if rel_link(permalink, suburl) == "#" %}
        <li class="active"><a href="{{ permalink }}">{{ text }}<span class="sr-only"> {{ messages("(active)", lang)
                    }}</span></a></li>
        {% else %}
        <li><a href="{{ suburl }}">{{ text }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    {% if rel_link(permalink, url) == "#" %}
<li class="active"><a href="{{ permalink }}">{{ text }}<span class="sr-only"> {{ messages("(active)", lang)
            }}</span></a></li>
{% else %}
<li><a href="{{ url }}">{{ text }}</a></li>
{% endif %}
{% endif %}
{% endfor %}
{% endmacro %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="generator" content="Nikola (getnikola.com)">
    <meta name="viewport" content="width=device-width">
    <script src="/assets/js/all-nocdn.js"></script>
    {% if title == blog_title %}
    <title>{{ blog_title|e }}</title>
    {% else %}
    <title>{{ title|e }} | {{ blog_title|e }}</title>
    {% endif %}
    <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
</head>


<body>
    <h1 id="brand">
        <a href="{{ _link('root', None, lang) }}" title="{{ blog_title|e }}" rel="home">
            <span id="blog-title">{{ blog_title|e }}</span>
        </a>
    </h1>

    <nav id="menu">
        <ul>
            {{ html_navigation_links_entries(navigation_links) }}
            {{ html_navigation_links_entries(navigation_alt_links) }}
            {{ template_hooks['menu']() }}
            {{ template_hooks['menu_alt']() }}
        </ul>
    </nav>

    <hr>

    <main id="content">
        {% block content %}{% endblock %}
    </main>
    <footer id="footer">
        <p>
            Powered by
            <a href="https://getnikola.com" rel="nofollow">Nikola</a>
        </p>
    </footer>
</body>

</html>