<html>

<body>
    <h1 id="brand">
        <a href="{{ _link('root', None, lang) }}" title="{{ blog_title|e }}" rel="home">
            <span id="blog-title">{{ blog_title|e }}</span>
        </a>
    </h1>
    <hr>
    <main id="content">
        {% block content %}{% endblock %}
    </main>
</body>

</html>