{% extends 'base.tmpl' %}
{% import 'post_title.tmpl' as post_title with context %}

{% block content %}
{% if prevlink %}
<a href="{{ prevlink }}" rel="prev">prev</a>
{% endif %}

{% for post in posts %}
{{ post_title.headline(post) }}
{% endfor %}

{% if nextlink %}
<a href="{{ nextlink }}" rel="next">next</a>
{% endif %}
{% endblock %}
