{% extends 'base.tmpl' %}

{% block content %}
{% if prevlink %}
<a href="{{ prevlink }}" rel="prev">prev</a>
{% endif %}

{% for post in posts %}
<h1 class="p-name entry-title">
    <a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a>
</h1>
{% endfor %}

{% if nextlink %}
<a href="{{ nextlink }}" rel="next">next</a>
{% endif %}
{% endblock %}
