{% extends 'base.tmpl' %}

{% block content %}
<h1 class="p-name entry-title" itemprop="headline name">
    <a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e}}</a>
</h1>
{{ post.text() }}
{% endblock %}