{# -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'post_title.tmpl' as post_title with context %}

{% block content %}
<article class="tagpage">
    <header>
        <h1>{{ title|e }}</h1>
        {% if description %}
        <p>{{ description }}</p>
        {% endif %}
        {% if subcategories %}
        {{ messages('Subcategories:') }}
        <ul>
            {% for name, link in subcategories %}
            <li><a href="{{ link }}">{{ name|e }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="metadata">
            {{ kind }}:
            {{ tag }}
        </div>
    </header>
    {% if posts %}
    <ul class="postlist">
        {% for post in posts %}
        {{ post_title.headline(post) }}
        {% endfor %}
    </ul>
    {% endif %}
</article>
{% endblock %}