---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
function _isActive() {
  if (typeof href == "string" && href != "/") {
    if (pathname.startsWith(href)) {
      return true;
    }
  }
  if (href === pathname) {
    return true;
  }
  if (href === pathname.replace(/\/$/, "")) {
    return true;
  }
}
const isActive = _isActive();
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
