---
import type { CollectionEntry } from "astro:content";
import PostTitle from "./PostTitle.astro";

interface Props {
  slug?: string;
  data: CollectionEntry<"posts">["data"];
}
---

<div class="card bg-base-100 shadow-xl my-2">
  <div class="card-body">
    <PostTitle {...Astro.props} />
  </div>
</div>
