---
import type { Page } from "astro";

interface Props {
  page: Page;
}

const { page } = Astro.props;
---

<div class="flex justify-between">
  <div>{page.url.prev ? <a href={page.url.prev}>👈新</a> : null}</div>
  <div>{`${page.currentPage}/${page.lastPage}`}</div>
  <div>{page.url.next ? <a href={page.url.next}>旧👉</a> : null}</div>
</div>
