---
import type { CollectionEntry } from "astro:content";
import PostTitle from "./PostTitle.astro";

interface Props {
  slug?: string;
  data: CollectionEntry<"posts">["data"];
}
---

<div
  class="size-full bg-white p-2 pl-4 rounded-l-lg shadow-[inset_1em_0_1em_0_rgba(0,0,0,0.1)]"
>
  <div class="flex justify-end">
    <div>旧👉</div>
  </div>
  <PostTitle {...Astro.props} />
</div>
