---
import type { CollectionEntry } from "astro:content";
import PostTitle from "./PostTitle.astro";

interface Props {
  slug?: string;
  data: CollectionEntry<"posts">["data"];
}
---

<div
  class="size-full bg-white p-2 pr-4 rounded-r-lg shadow-[inset_-1em_0_1em_0_rgba(0,0,0,0.11)]"
>
  <div>👈新</div>
  <PostTitle {...Astro.props} />
</div>
