---
import type { CollectionEntry } from "astro:content";
import PostTitle from "./PostTitle.astro";

interface Props {
  slug?: string;
  data: CollectionEntry<"posts">["data"];
}
const { slug } = Astro.props;
---

<div
  class="size-full m-2 p-2"
>
  <div class="flex justify-end">
    <div>
      <a href={slug ? `/posts/${slug}/` : ""}>
      旧👉
      </a>
    </div>
  </div>
  <PostTitle {...Astro.props} />
</div>
