---
import type { CollectionEntry } from "astro:content";
import PostTitle from "./PostTitle.astro";

interface Props {
  slug?: string;
  data: CollectionEntry<"posts">["data"];
}
---

<div
  class="size-full m-2 p-2"
>
  <div>👈新</div>
  <PostTitle {...Astro.props} />
</div>
