---
import type { CollectionEntry } from "astro:content";
import PostTitle from "./PostTitle.astro";

interface Props {
  slug?: string;
  data: CollectionEntry<"posts">["data"];
}
const {slug} = Astro.props;
---

<div
  class="size-full m-2 p-2"
>
  <a href={slug ? `/posts/${slug}/` : ""}>
    👈新
  </a>

  <PostTitle {...Astro.props} />
</div>
