<div class="headline{% if page.extra.css %} {{ page.extra.css }} {% endif %}">
  
  {% if page.extra.css %}
  {% if page.extra.css == "github" %}
  <i class="fab fa-github fa-lg"></i>
  {% endif %}
  {% if page.extra.css == "gist" %}<i class="fab fa-github fa-lg"></i>{% endif %}
  {% endif %}

  {% if page.extra.css and page.extra.css == "github" %}
  <a class="headline_title" href="{{ page.extra.url }}"> {{ page.title }} 
  {% elif page.extra.css and page.extra.css == "gist" %}
  <a class="headline_title" href="{{ page.extra.url }}"> {{ page.title }} 
  {% elif page.extra.css and page.extra.css == "qiita" %}
  <a class="headline_title" href="{{ page.extra.url }}"> {{ page.title }} 
  {% else %}
  <a class="headline_title" href="{{ page.permalink }}"> {{ page.title }} 
  {% endif %}

  {% if page.extra.image %}
  {% set s = page.relative_path | split(pat="/") %}
  {% set len = s | length %}
  {% set sl = s | slice(start=0, end=len-1) %}
  {% set j = sl | join(sep="/") %}
    {% set image_url = resize_image(path=j ~ "/" ~ page.extra.image, width=400, height=300, op="fit") %}
  <div class="image_box"><img src="{{ image_url }}"></div>
  {% endif %}
  </a>

  {% if page.extra.star and page.extra.star>0 %}
  <span class="start">⭐{{page.extra.star}}</span>
  {% endif %}

  <div>
    <ul class="tags">
      <li class="headline_date">
        <div class="year">{{ page.date | date(format="%Y") }}</div>
        <div class="md">{{ page.date | date(format="%m%d") }}</div>
      </li>
      {% if page.updated and page.updated != page.date %}
      <li class="headline_date updated">
        <div class="year">{{ page.updated | date(format="%Y") }}</div>
        <div class="md">{{ page.updated | date(format="%m%d") }}</div>
      </li>
      {% endif %}
      {% include "_tags.html" %}
    </ul>
  </div>
</div>
