<div class="headline{% if page.extra.css %} {{ page.extra.css }} {% endif %}">
  
  {% if page.extra.css %}
  {% if page.extra.css == "github" %}<i class="fab fa-github fa-lg"></i>{% endif %}
  {% if page.extra.css == "gist" %}<i class="fab fa-github fa-lg"></i>{% endif %}
  {% endif %}
  <a class="headline_title" href="{{ page.permalink }}"> {{ page.title }} 

  {% if page.extra.image %}
  {% set s = page.relative_path | split(pat="/") %}
  {% set len = s | length %}
  {% set sl = s | slice(start=0, end=len-1) %}
  {% set j = sl | join(sep="/") %}
    {% set image_url = resize_image(path=j ~ "/" ~ page.extra.image, width=400, height=300, op="fit") %}
  <div class="image_box"><img src="{{ image_url }}"></div>
  {% endif %}
  </a>

  <div>
    <ul class="tags">
      <li class="headline_date">
        <div class="year">{{ page.date | date(format="%Y") }}</div>
        <div class="md">{{ page.date | date(format="%m%d") }}</div>
      </li>
      {% include "_tags.html" %}
    </ul>
  </div>
</div>
