<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% block css %} <link rel="stylesheet" href="{{ get_url(path="main.css",
    trailing_slash=false) | safe }}">
    <link
      ref="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    {% endblock css %}
  </head>

  <body class="container">
    <a class="site_title" href="{{ config.base_url }}">
      <h1>{{ config.title }}</h1>
    </a>

    <div class="nav">
      <a class="item" href="https://github.com/ousttrue" aria-label="github">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a class="item" href="/posts/">posts</a>
      <a class="item" href="/tags/">tags</a>
    </div>

    <div class="main">
      {% block content %} 

      {% endblock %}
    <div>
  </body>
</html>
