<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% block script %}
    {% endblock %}

    {% block css %} 
    <link rel="stylesheet" href="{{ get_url(path="main.css",
    trailing_slash=false) | safe }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      />
    {% endblock css %}
  </head>

  <body class="container">
    <a class="site_title" href="{{ config.base_url }}">
      <div>{{ config.title }}</div>
    </a>

    <nav class="nav">
      <a class="item" href="/tags/">tags</a>
      <a class="item" href="https://github.com/ousttrue" aria-label="github">
        <i class="fab fa-github fa-lg"></i>
      </a>
      {% if paginator %}
        {% if paginator.previous %}
            <a class="item previous" href="{{ paginator.previous }}">‹ Previous</a>
        {% endif %}
        <span class="item">{{ paginator.current_index }}</span>
        {% if paginator.next %}
            <a class="item next" href="{{ paginator.next }}">Next ›</a>
        {% endif %}      
      {% endif %}

    </nav>

    <main class="main">{% block content %} 
    <script src="{{ get_url(path="masonry.pkgd.min.js", trailing_slash=false) | safe }}"></script>
    <div class="grid" data-masonry='{ "itemSelector": ".headline", "columnWidth": 400 }'>

      {% if paginator.current_index == 1 %}
      {% for page in config.extra.books %}
      <div class="headline book">
        📘<a class="headline_title" href="{{ page.url }}"> {{ page.label }} </a>
        <ul class="tags">
          {% include "_tags.html" %}
        </ul>
       </div>      
      {% endfor %}
      {% endif %}

      {% for page in paginator.pages %}
      {% include "_item_headline.html" %}
      {% endfor %}

    </div>
    {% endblock %}</main>

    <footer class="footer">Powered by <a href="https://www.getzola.org/">Zola</a> <a href="https://github.com/ousttrue/zola/tree/custom">custom</a></footer>

  </body>
</html>
