html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.date {
  font: medium Monospace;
  display: inline-block;
  vertical-align: top;
  border: solid 1px;
  border-radius: 0.3em;
  color: tomato;
}

.tag {
  font: medium Monospace;
  color: white;
  background-color: tomato;
  border-radius: 0.3em;
  padding: 0 0.2em;
  margin-left: 0.1em;
}

ul.posts {

}

ul.posts li {
  list-style: none;
  margin: 1em;
}

.title {
  margin-left: 0.5em;
}

header {
  background-color: silver;
  padding-left: 1em;
}

article {
  flex-grow: 1;
  padding: 1em;
}

footer {
  background-color: silver;
  text-align: right;
  padding-right: 1em;
}

div#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
