---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, GITHUB_URL } from "../consts";
import { Icon } from "astro-icon/components";
import ThemeChange from "./ThemeChange.astro";
---

<header
  class={import.meta.env.DEV
    ? "bg-accent text-accent-content"
    : "bg-primary text-bg-content"}
>
  <nav class="flex">
    <HeaderLink href="/">{SITE_TITLE}</HeaderLink>
    <HeaderLink href="/posts/1">Posts</HeaderLink>
    <HeaderLink href="/tags">Tags</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <div class="grow"></div>
    <a href={GITHUB_URL} target="_blank">
      <span class="flex sr-only">Go to Astro's GitHub repo</span>
      <Icon name="mdi:github" class="text-4xl" />
    </a>
    <ThemeChange />
  </nav>
</header>

