---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, GITHUB_URL } from "../consts";
import { Icon } from "astro-icon/components";
---

<header class={import.meta.env.DEV ? "bg-red-200" : "bg-slate-200"}>
  <nav class="flex justify-items-center justify-between">
    <div class="internal-links">
      <HeaderLink href="/">{SITE_TITLE}</HeaderLink>
      <HeaderLink href="/posts">Posts</HeaderLink>
      <HeaderLink href="/tags">Tags</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="flex">
      <a href={GITHUB_URL} target="_blank">
        <span class="flex sr-only">Go to Astro's GitHub repo</span>
        <Icon name="mdi:github" class="text-4xl"/>
      </a>
    </div>
  </nav>
</header>
<style>
  nav a {
    padding: 1em 0.5em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
