---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className } = Astro.props;

const { pathname } = Astro.url;
function _isActive() {
  if (typeof href == "string" && href != "/") {
    if (pathname.startsWith(href)) {
      return true;
    }
  }
  if (href === pathname) {
    return true;
  }
  if (href === pathname.replace(/\/$/, "")) {
    return true;
  }
}
let klass = "ml-2 pt-2";
if (_isActive()) {
  klass += " font-bold border-b-4 border-primary-content";
}
---

<a href={href} class={klass}>
  <slot />
</a>
