---
import "../styles/global.css";
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>

  <body class="flex flex-col">
    <Header />

    <main class="grow bg-base-200">
      <div class="flex-col size-full">
        <div class="flex flex-col-reverse md:flex-row mx-auto max-w-3xl">
          <article class="prose p-4">
            <slot />
          </article>
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
